@media (max-width: 768px) {
  /* ........ HEADER..........*/
  .header-nav {
    display: none;
  }
  .header-button {
    display: none;
  }
  .header-search-icon {
    display: block;
  }
  .header-search-icon-properties {
    padding: 13px;
    border-radius: 50%;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 25px 0px #c2c2c24f;
  }
}
