@media (max-width: 768px) {
  /* ........ HEADER..........*/
  .header-nav {
    display: none;
  }
  .header-button {
    display: none;
  }
  .header-search-icon {
    display: block;
  }
  .header-search-icon-properties {
    padding: 13px;
    border-radius: 50%;
    background-color: #f8f8f8;
    box-shadow: 0px 4px 25px 0px #c2c2c24f;
  }

  /* ...........MAIN.............. */
  .main-section {
    flex-wrap: wrap-reverse;
  }
  h1 {
    font-size: 24px;
  }
  .para-main {
    font-size: 14px;
  }
  .search-div {
    display: none;
  }
  .filter-card {
    width: 100%;
    min-width: 0;
  }

  /* ..........TRENDING ADS SECTION........... */
  h4 {
    font-size: 14px;
    margin-top: 27px;
  }
  .card-para-city {
    font-size: 12px;
  }
  .card-rooms {
    font-size: 12px;
  }
  .trending-ads-grid-container {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  /* .............FOOTER............. */
  .footer-email {
    display: none;
  }
  .footer-links {
    display: block;
  }
  .footer-socials {
    display: block;
  }
  .footer-li-items {
    margin-bottom: 16px;
  }
  footer {
    padding: 40px 20px;
    margin-bottom: 156px;
  }
  .body {
    position: relative;
  }
  .mobile-nav-section {
    display: block;
    width: 100%;
    height: 72px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px #00000040;
    border-radius: 24px 24px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 12px 20px 15px 20px;
    font-weight: 500;
    font-size: 11px;
  }

  .mobile-nav-sticky {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-nav-divs {
    text-align: center;
  }
  .mobile-nav-divs a {
    color: rgba(0, 0, 0, 0.8);
  }
  .mobile-nav-divs p {
    margin-top: 5px;
  }
  .sell-button {
    background-color: #29b24e;
    border-radius: 12px;
    padding: 12px;
    position: absolute;
    bottom: 28px;
    left: 44%;
  }
}
