@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  padding: 0 15px;
  background: rgba(242, 242, 242, 1);
  font-family: "Poppins", sans-serif;
}
.container {
  max-width: 1640px;
  margin: 0 auto;
  /* background-color: bisque; */
}

/* ......HEADER....... */

.header-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.header-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}

.header-li-items {
  color: #000000e5;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.header-li-items::after {
  content: "";
  bottom: -8px;
  left: 0;
  height: 2px;
  background-color: #29b24e;
  width: 0%;
  transition: 0.3s;
  position: absolute;
}

.header-li-items:hover::after {
  width: 100%;
}
.header-button {
  background-color: #29b24e;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding: 13px 26px;
  border-radius: 12px;
}

/* ..........MAIN............ */
.main-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 32px;
}

/* ........FILTER CARD............... */

.filter-card {
  background-color: #f8f8f8;
  width: 395px;
  min-width: 333px;
  min-height: 700px;
  border: 1px;
  border-radius: 24px;
  padding: 32px 32px 38px 32px;
  box-shadow: 0px 4px 25px 0px #c2c2c24f;
}
.filter-card-location {
  margin-bottom: 32px;
}
h3 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 13px;
}
select {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #0d9ca436;
  font-size: 14px;
}
.filter-card-property {
  margin-bottom: 32px;
}
label {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 10px 0;
  font-weight: 400;
  font-size: 14px;
}
input[type="checkbox"] {
  accent-color: #009879;
  border: 1.4px solid #29b24e;
}

.ads-count {
  color: rgba(0, 0, 0, 0.5);
}

/* .............MAIN-SEARCH................. */
.main-search {
  width: 1225px;
  min-height: 700px;
  background-image: url(..//img/main-buildings.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  padding-top: 60px;
}
h1 {
  font-size: 48px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin-bottom: 10px;
}
.para-main {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 40px;
}
.search-div {
  width: 324px;
  height: 48px;
  position: relative;
  margin: 0 auto;
}
.search-input {
  width: 100%;
  padding: 15px 0 15px 24px;
  border-radius: 10px;
  background-color: rgba(248, 248, 248, 0.8);
  box-shadow: 0px 4px 10px 0px #7c7c7c45;
  border: none;
}
.search-icon {
  position: absolute;
  top: 14px;
  right: 15px;
}

/* ...........TRADING ADS SECTION........... */
h2 {
  font-size: 18px;
  font-weight: 550;
  color: #000000;
  margin-bottom: 20px;
}
.card-anchors {
  display: block;
  color: #000000;
  transition: 0.5s ease-in;
}
.card-anchors:hover {
  transform: scale(1.05);
}
.trending-ads-grid-container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
}
.trending-cards {
  width: 100%;
  padding: 16px 16px 24px 16px;
  border-radius: 24px;
  border: 1px;
  background-color: #f8f8f8;
  box-shadow: 0px 4px 18px 0px rgba(194, 194, 194, 0.3);
}
.trending-cards-img {
  width: 100%;
  display: block;
}
.card-para-city {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}
h4 {
  font-weight: 550;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}
.card-price {
  font-size: 24px;
  font-weight: 500;
  color: #29b24e;
}
.card-month {
  font-size: 12px;
}
.card-para-price {
  text-align: end;
}
.card-line {
  width: 100%;
  height: 1px;
  background-color: #cfead6;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 24px;
}
.card-rooms {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}
.div-card-img {
  position: relative;
  border-radius: 2px solid;
}
.card-vip-top {
  display: inline-block;
  background-color: #29b24e;
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 15px;
  padding: 8px 11px;
  position: absolute;
  top: 5%;
  left: 4%;
}
.card-save-icon {
  display: inline-block;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: -2px 4px 20px 0px #6d6d6d40;
  padding: 11px;
  position: absolute;
  top: 91%;
  right: 2%;
}

/* ............FOOTER.......... */

footer {
  width: 100%;
  /* height: 180px; */
  border-radius: 25px;
  margin-top: 120px;
  background-color: #29b24e;
  box-shadow: 0px 4px 25px 0px #c2c2c21a;
  padding: 32px 3px 40px 5px;
  color: #ffffff;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.footer-li-items-links {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}
.footer-email {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}
.footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.footer-li-items-socials {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}
.footer-line {
  width: 100%;
  height: 1px;
  background-color: #d0d0d0;
  margin: 32px 0;
}
.footer-bottom {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}
